.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.loading-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 6rem;
  font-size: 1.2rem;
  color: #666;
}

.search {
  position: relative;
  width: 50%;
  height: 3.5rem;
  background-color: #fff;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.fab-submit {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.table-input {
  padding: 0;
  margin: 0 !important;
}

.client-footer  {
  float: right;
}
.float-right {
  float: right;
}

.rightContent {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.minHeight-300 {
  min-height: 300px;
}

.hide {
  display: none;
}

.rotate-icon {
  transition: 0.2s;
  transform: (-90deg);
}

.rotate-icon:hover {
  transition: 0.2s;
  transform: rotate(90deg);
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #eee;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}