.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.loading-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 6rem;
  font-size: 1.2rem;
  color: #666;
}

.search {
  position: relative;
  width: 50%;
  height: 3.5rem;
  background-color: #fff;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.fab-submit {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.table-input {
  padding: 0;
  margin: 0 !important;
}

.client-footer {
  float: right;
}

.float-right {
  float: right;
}

.rightContent {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.minHeight-300 {
  min-height: 300px;
}

.hide {
  display: none;
}

.rotate-icon {
  transition: 0.2s;
  transform: (-90deg);
}

.rotate-icon:hover {
  transition: 0.2s;
  transform: rotate(90deg);
}

.notifications {
  min-width: 450px;
}

.dashboard-overall {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.dashboard-overall>* {
  flex: 1 1 0;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #eee;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.mini-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem #eee;
  margin: 1rem 0;
}

.mini-card>.title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.mini-card>.value {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.mini-card>.percent {
  font-size: 0.8rem;
  font-weight: 400;
  color: #ccc;
}

.flex {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.color-1 {
  background: #452c63;
  color: #fff;
}

.color-2 {
  background: #4B0082;
  color: #fff;
}

.color-3 {
  background: #662d91;
  color: #fff;
}

.color-4 {
  background: #7b2d91;
  color: #fff;
}

.random-image {
    background-image: url(https://source.unsplash.com/random), url('../assets/bg.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #eee;

    width: 100%;
    height: 100%;

    min-height: 100vh;
}

.flex {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 1rem;
}

.no-data-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem ;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  text-align: center;
  height: 90%;
}

.welcome-animation {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}